__pycache__/
*.py[cod]
*.pyo
*.pyd


.venv/
venv/
env/


.env
.env.*

sentry logs/
user logs/
reports/
*.log
*.csv
*.enc

# Operating system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

*.egg-info/
.pytest_cache/
.mypy_cache/


.ipynb_checkpoints/

*.tmp
*.bak
